/*** Reset ***/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: 0;
	padding: 0;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** Clearfix ***/

.clearfix:after {
	content: " ";
	font-size: 0;
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}

* html .clearfix {
	zoom: 1;
}

*:first-child+html .clearfix {
	zoom: 1;
}

/*** Global Classes ***/
.left {
	float: left;
}
.right {
	float:right;
}
.center {
	margin: auto;
}

.text_left {
	text-align: left;
}
.text_right {
    text-align: right;
}
.text_center {
    text-align: center;
}

html {
	height: 100%;
	font-size:16px;
}

body {
	height: 100%;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	background: #bec4be;
}

/*** Layout ***/

h1, h2, h3, h4, h5 {
	font-family: 'Hammersmith One', sans-serif;
}

p, li {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 14px;
}

#header {
	top: 0;
	height: 70px;
	width: 100%;
	position: fixed;
	background: #bec4be;
}

#header h1 {
	color: #fff;
	font-size: 55px;
	line-height: 45px;
	text-align: left;
}

#content div {
	min-height: 1300px;
/*	padding: 0 0 120px; */
}

nav {
	position:fixed;
	margin:0;
	padding: 5em 1em;
	height:100%;
	width: 18em;
	background:#000;
	background-color:rgba(0,0,0,0.2);
	text-align:right;
}

nav h1 {
	font-weight:normal;
	font-size: 2.4em;
}

nav h2 {
	font-weight:normal;
	font-size: 1.6em;
}

nav ul {
	list-style:none;
	margin: 4em 0;
}

nav ul li {
	font-size:1.8em;
	color:#fff;
	opacity:0.75;
	margin:0 0 0.4em;
}

nav ul li:hover {
	opacity:1.00;
}

#content {
	height: 1300px;
	overflow: hidden;
	margin: 0 0 0 22em;
	padding: 2em 2em 0 0;
	color: #0f2111;
}

p {
	margin: 0 0 18px;	
}

#content ul {
	margin: 0 0 0 20px;
}